@font-face {
  font-family: "iconfont"; /* Project id 4009222 */
  src: url('iconfont.woff2?t=1681300179662') format('woff2'),
       url('iconfont.woff?t=1681300179662') format('woff'),
       url('iconfont.ttf?t=1681300179662') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down-rectangle:before {
  content: "\e64a";
}

.icon-arrow-left-rectangle:before {
  content: "\e64b";
}

.icon-arrow-right-rectangle:before {
  content: "\e64e";
}

.icon-arrow-up-rectangle:before {
  content: "\e655";
}

.icon-reload-rectangle:before {
  content: "\e669";
}

.icon-dayu:before {
  content: "\e6e9";
}

.icon-dabaoyu:before {
  content: "\e6ea";
}

.icon-yu:before {
  content: "\e6ed";
}

.icon-xiaoyuzhuanzhongyu:before {
  content: "\e6f3";
}

.icon-gps:before {
  content: "\e625";
}

.icon-zhongyuzhuandayu:before {
  content: "\e6f6";
}

.icon-eryanghuatan:before {
  content: "\e7e6";
}

.icon-jian:before {
  content: "\e620";
}

.icon-kaiguan-open:before {
  content: "\e621";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-kaiguan-close:before {
  content: "\e88d";
}

.icon-ss-lux:before {
  content: "\e88c";
}

.icon-lt-mir:before {
  content: "\e883";
}

.icon-ss-ith:before {
  content: "\e888";
}

.icon-ss-los:before {
  content: "\e889";
}

.icon-ss-wat:before {
  content: "\e88a";
}

.icon-ss-ths:before {
  content: "\e88b";
}

.icon-lt-mir-copy:before {
  content: "\e88e";
}

